<!-- <div class="attachment_full">
  <strong><%= link_to_unless attachments.empty?, h(attachment.file_name), h(attachment.site_url) %></strong>
  <em>on <%= attachment.created_at.strftime('%b %d, %Y at %H:%M') %></em>
  <!-- <%=simple_format h(attachment.content) %> -->
  <p>
    <!-- <%= link_to "Edit", edit_project_attachment_path(@project, attachment) %> |
    <%= link_to "Destroy", attachment_path(attachment), :method => :delete, :confirm => "Are you sure?" %> -->
  </p>
</div> -->