
<html>
	<body>
    <div class="avatar">
    <%= form_for @attachment, :html => {:multipart => true} do |f| %>
    <% @attachment.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
   <% end %>
    <%= f.hidden_field :project_id %>
  <p>
  	<%= f.label :file_name %><br />
  	<%= f.text_field :file_name %>
  </p>  
  <p>
    <%= f.file_field :avatar %>
  </p>
  <p><%= f.submit %></p>
  </div>
    <% end %>
 

</body>
</html>
	





   



