<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>

<div id="attachments">
  <% @attachments.each do |attachment| %>
    <div class="attachment">
      <%= attachment_tag attachment.attachment_url.to_s %>
      <div class="name"><%= attachment.file_name %></div>
      <div class="actions">
        <%= link_to "edit", edit_attachment_path(attachment) %> |
        <%= link_to "remove", attachment, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>