<%= form_for(@projects) do |f| %>
  
   <div class="field">
    <%= f.label :project_name %>
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :due_date %>
    <%= f.text_field :due_date %>
  </div><br />
  <div class="actions">
    <%= f.submit 'Submit' %>
    <%= link_to 'Nevermind', projects_path, class: 'button' %>
  </div>
  <div class="actions">
    <%= f.submit 'Add Project' %>
  </div>
   <div class="output">
    <%= f.label :project_name %>
    <%= :project_name %>
  </div>
<% end %>


