<h2>Proposal Information</h2>
<p>
  <%= f.label :client_name %><br />
  <%= f.text_field :client_name %>
</p>
<%= form_for @project do |f| %>
  
    <%= render "#{@project.current_step}_step", :f => f %>
 <p><%= f.submit "Continue" %></p>
 <p><%= f.submit "Back", :name => "previous_button" unless @project.first_step? %></p>
  <% end %>

 <p><%= link_to "Back to List", projects_path %></p>
